<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>General Store API</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/styles.css">
  <nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <p class="navbar-brand">GENERAL STORE API</p>
      </div>
        <ul class="nav navbar-nav navbar-right">
          <!-- 6 -->
          <li id="home"><a href="/">HOME</a></li>
          <li id="user"><a href="/user">USER</a></li>
          <li id="shopkeeper"><a href="/shopkeeper">SHOPKEEPER</a></li>
          <li id="product"><a href="/product">ADD-TO-LIST</a></li>
        </ul>
    </div>
  </nav>

  <body>
    <div class="container">
