<%- include('partials/header') %>


<div class="jumbotron centered">
  <div class="container">
    <img src="images/Mobile UX.jpg" class="img-circle" alt="" width="300" height="300">
    <h1 class="display-3" style="color:#fa26a0"><strong>WELCOME TO THE STORE</strong></h1>
    <p class="lead"></p
    <hr>
  </div>
</div>

<%- include('partials/footer') %>
