<%- include('partials/header') %>

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Successfully register!</h1>
    <p class="lead">You have Successfully registered to your account.</p>
  </div>
</div>


<%- include('partials/footer') %>
