<%- include('partials/header') %>

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Successfully login!</h1>
    <p class="lead">You have Successfully logged in to your account.</p>
  </div>
</div>


<%- include('partials/footer') %>
